/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    background: url('rolex.jpg') no-repeat center center fixed;
    background-size: cover;
}

.register {
    width: 100%;
    padding: 10px 0;
    background-color: rgba(24, 70, 34, 0.5);
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 25px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(107, 161, 218, 0.5);
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: rgba(11, 43, 8, 0.6);
}

.input-group input:focus {
    border-color: rgba(78, 70, 196, 0.5);
    outline: none;
}

button {
    width: 100%;
    padding: 10px 0;
    background-color: rgba(24, 70, 34, 0.5);
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: rgb(197, 138, 21);
}

.register:hover {
    background-color: rgb(197, 138, 21);
}
